/* stylesheet */
html {
  font-family: "Forma-DJR-Display";
}

header {
  /* Spacing */
  max-width: 100%;
  margin: 0 auto;
  height: 50px;
  border-bottom: 1px solid black;
}

nav {
  padding: 0px;
}

nav ul li p {
  /* Display */
  float: right;
  display: inline-block;
  /* Text */
  color: black;
  text-decoration: none;
  font-size: 30px;
  /* Spacing */
  padding-left: 1em;
  padding-right: 1em;
  margin: 0px;
  margin-top: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0px;
}

body {
  /* Spacing */
  padding: 0;
  margin: 0;
  /* Background */
  background-image: url(assets/grid.png);
  background-size: 100vw;
}

.sources {
    position: fixed;
    top: 0px;
    background-image: url(assets/grid.png);
    background-size: 100vw;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: none;
}
.sources div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    height: 400px;
    width: 600px;
    text-align: center;
}

.about {
    position: fixed;
    top: 0px;
    background-image: url(assets/grid.png);
    background-size: 100vw;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: none;
}

.about div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    height: 400px;
    width: 600px;
    text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 102px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px 38px;
}

.calendar {
  /* Display */
  border-top: 1px solid black;
  height: 820px;
  width: 100%;
}

.months {
  border-top: none;
}

.foodItem {
  text-align: left;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 13px;
  width: 90%;
  margin-left: 5%;
  position: relative;
}

.foodItem p {
    font-weight: 800;
    font-size: 13px;
    margin-top: 14px;
    margin-bottom: 18px;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    line-height: 1.3em;
}

.cap {
  text-align: left;
  height: 40px;
  font-size: 14px;
  font-weight: 800;
  padding-left: 8px;
  padding-bottom: .2em;
}

.column {
  border-left: 1px solid #D2D2D2;
  text-align: center;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.column::-webkit-scrollbar {
  display: none;
}

.slideout {
  height: 820px;
  background-color: white;
  overflow: scroll;
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
}

.slideout div {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  font-weight: bold;
}

.closeButton {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 15px;
    padding: 10px;
}

.recipes {
  border-right: 1px solid black;
  height: 100%;
  overflow: scroll;
}

.recipe {
  padding: 14px;
}

.recipe p{
  font-size: 12px;
  padding-top: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
}


.info {
  padding: 0px 75px 0px 25px;
  height: 100%;
  overflow: scroll;
}

.info h3 {
  margin: 0px;
  padding-top: 20px;
  font-family: "Forma-DJR-Display";
  font-size: 45px;
  font-weight: bold;
  line-height: 1em;
  color: rgb(61,61,61);
}

.info a {
    color: black;
    float: right;
    font-family: "Forma-DJR-Display";
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    font-style: italic;
    opacity: 0.8;
}

.rTags {
  margin: 4px 0px 80px -12px;
  padding: 5px;

  font-size: 10px;
  font-weight: 800;
  line-height: 1.1em;

  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: left;
}

.rTags li {
  border: 1.2px solid black;
  text-align: center;
  padding: 4px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 30px;
}

.timeYield {
  padding: 0px;
  width: 100%;
  margin-bottom: 90px;
}

.timeYield h3 {
  padding-top: 0px;
  float: left;
  font-size: 16px;
}
.timeYield p {
  margin-left: 220px;
  font-size: 12px;
}

.reviews {
  padding: 0px;
  font-family: "Forma-DJR-Display";
  font-size: 16px;
}
.reviews li {
  padding-top: 8px;
  padding-bottom: 15px;
  color: rgb(49,49,49);
  font-family: "IBM Plex Mono", monospace;
  font-size: 12px;
  line-height: 1.6em;
  font-weight: 100;

}

#filters {
  overflow: hidden;
}

#filters div {
  float: right;
  display: block;
  text-align: center;
  padding: 14px;
  padding-bottom: 2em;
  text-decoration: none;
  font-weight: 800;
  font-size: 14px;
  color: rgb(66,66,66);
}

.sticky {
  position: fixed;
  bottom: 0;
  width: 20%;
  right: 14px;

}

.labelSticky {
  position: absolute;
  bottom: 50px;
  right: 10px;
  color: #C0C0C0;

}

.axisCol {
  padding-right: 10px;
  padding-top: 0px;
  line-height: 1em;
  position: relative;
}

.sticky + .content {
  padding-top: 1000px;
}

.axisLabel p {
  text-align: right;
  font-weight: bolder;
  font-size: 14px;
  line-height: 1.1em;
}

img#titleimage {
  width: 100%;
  height: auto;
}

canvas {
  vertical-align: top;
}
