/* stylesheet */
html {
  font-family: "Forma-DJR-Display";
}

header {
  /* Spacing */
  max-width: 100%;
  margin: 0 auto;
  height: 3rem;
  border-bottom: 1px solid black;
}

nav {
  padding: 0px;
}

nav ul li a {
  /* Display */
  float: right;
  display: inline-block;
  /* Text */
  color: black;
  text-decoration: none;
  font-size: 30px;
  /* Spacing */
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 6px;
}

ul {
  list-style: none;
}

body {
  /* Spacing */
  padding: 0;
  margin: 0;
  /* Background */
  background-image: url(assets/grid.png);
  background-size: 100vw;
}

.grid {
    display: grid;
    grid-template-columns: 80px auto 0px auto 0px auto 0px auto 0px auto 0px auto 0px auto 0px auto 0px auto 0px auto 0px auto 0px auto 0px 80px;
}

.calendar {
    /* Display */
    border-top: 1px solid black;
    height: 200px;
    width: 100%;
    overflow: auto;
}

.months {
  border-top: none;
}

.foodItem {
  text-align: left;
  padding-left: 6px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
}

.cap {
    text-align: left;
    height: 40px;
    font-size: 14px;
    font-weight: 800;
    padding-left: 8px;
}

.column {
    border-left: 1px solid #D2D2D2;
    overflow: hidden;
}

.slideout {
    height: 200px;
    background-color: white;
}

.foodItem {

}

.foodItem p {
  font-weight: 800;
  font-size: 14px;
}

.axisLabel p {
  text-align: right;
  font-size: 8.69px;
  font-weight: bolder;
}

img#titleimage {
  width: 100%;
  height: auto;
}

canvas {
  vertical-align: top;
}
