/* stylesheet */
html {
  font-family: "Forma-DJR-Display";
}

header {
  /* Spacing */
  max-width: 100%;
  margin: 0 auto;
  height: 3rem;
  border-bottom: 1px solid black;
}

nav {
  padding: 0px;
}

nav ul li a {
  /* Display */
  float: right;
  display: inline-block;
  /* Text */
  color: black;
  text-decoration: none;
  font-size: 30px;
  /* Spacing */
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 6px;
}

ul {
  list-style: none;
}

body {
  /* Spacing */
  padding: 0;
  margin: 0;
  /* Background */
  background-image: url(assets/grid.png);
  background-size: 100vw;
}

.grid {
  display: grid;
  grid-template-columns: 102px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px calc((100vw - 140px) / 12) 0px 38px;
}

.calendar {
  /* Display */
  border-top: 1px solid black;
  height: 600px;
  width: 100%;
}

.months {
  border-top: none;
}

.foodItem {
  text-align: left;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 13px;
  width: 90%;
  margin-left: 5%;
  overflow: hidden;
}

.foodItem p {
  font-weight: 800;
  font-size: 13px;
  margin-top: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}

.cap {
  text-align: left;
  height: 40px;
  font-size: 14px;
  font-weight: 800;
  padding-left: 8px;
  padding-bottom: .2em;
}

.column {
  border-left: 1px solid #D2D2D2;
  text-align: center;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.column::-webkit-scrollbar {
  display: none;
}

.slideout {
  height: 600px;
  background-color: white;
  overflow: scroll;
  display: grid;
  grid-template-columns: 40% 60%;
}

.slideout div {
  padding: 2%;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  font-weight: bold;
}

.recipes {
  border-right: 1px solid black;
}

.info {
  margin: 20px 75px 0px 25px;
}

.info h3 {
  margin: 0px;
  font-family: "Forma-DJR-Display";
  font-size: 35px;
  font-weight: bold;
}

.rTags {
  margin: 4px 0px 0px 0px;
  padding: 5px;

  font-size: 8px;

  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: left;
}

.timeYield {
  padding: 0px;
}

.reviews {
  padding: 0px;
}

#filters {
  overflow: hidden;
}

#filters div {
  float: right;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 1000px;
}

<<<<<<< Updated upstream=======.foodItem p {
  font-weight: 800;
  font-size: 14px;
}

>>>>>>>Stashed changes .axisLabel p {
  text-align: right;
  font-size: 8.69px;
  font-weight: bolder;
}

img#titleimage {
  width: 100%;
  height: auto;
}

canvas {
  vertical-align: top;
}
